@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-md-12">
        <h2>User Information</h2>
        <p>
            <h1>User: @ViewBag.User</h1>
            <h1>Auth Type: @ViewBag.AuthType</h1>
        </p>
    </div>
</div>